// app global css in SCSS form
.bg_shallow{
    background-color: #006241 !important // 翠微
}

.bg_deep{
    background-color: #13393E !important // 螺子黛
}

.color_shallow{
    color: #006241 !important; // 翠微
}