// app global css in SCSS form
.bg_rouge{
    background-color: #BD436F // 胭脂紫
}

.color_rouge{
    color: #BD436F // 胭脂紫
}

.bg_moon{
    background-color: #D4E5EF // 品月
}


.color_moon{
    color: #D4E5EF // 品月
}

.bg_cinnabar{ 
    background-color: #B93A26  // 朱殷
}


.color_cinnabar{ 
    color: #B93A26  // 朱殷
}
